<!-- Author: Tom Tsiliopoulos
     Project Part 2 Modified by: Team Musketeer
     Members: Zeyu Ma 300737060
              Syed Nasir Gohary 300937424
              Abubakir Myrzaly 300931945
              Sushmita Nandalan 300923159  -->
              <app-base-page></app-base-page>

              <div class="container">
                <div class="main">
                  <div class="row">
                    <div class="col-6 text-right">
                      Select Survey:
                      <select [(ngModel)]="surveyName" (change)="loadSurvey(surveyName)">
                        <option *ngFor="let survey of surveysjson" [value]="survey.id">{{survey.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div id="surveyjson">
                    <h2 class="text-center font-weight-normal">{{surveyjson.name}}</h2>
                    <hr />
                    <h4 class="text-center font-weight-normal">{{surveyjson.description}}</h4>
                    <hr />

                    <div *ngIf="mode=='survey' && surveyjson">
                      <div *ngFor="let question of filteredQuestions;">
                        <div>Question {{pager.index + 1}} of {{pager.count}}.</div>
                        <h3>{{pager.index + 1}}.
                          <span [innerHTML]="question.name"></span>
                        </h3>
                        <div class="row text-left options">
                          <div class="col-6" *ngFor="let choice of question.choices">
                            <div class="option">
                              <label class="font-weight-normal" [attr.for]="choice.id">
                                <input id="{{choice._id}}" type="checkbox" [(ngModel)]="choice.selected" (change)="onSelect(question, choice);" /> {{choice.name}}
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <div class="text-center">
                        <button class="btn btn-primary" (click)="goTo(0);">First</button>
                        <button class="btn btn-primary" (click)="goTo(pager.index - 1);">Prev</button>
                        <button class="btn btn-primary" (click)="goTo(pager.index + 1);">Next</button>
                        <button class="btn btn-primary" (click)="goTo(pager.count - 1);">Last</button>
                      </div>
                    </div>
                    <div *ngIf="mode=='result'">
                      <h2>Survey Result</h2>
                      <div *ngFor="let question of surveyjson.questions; let index = index">
                        <div>
                          <h5>{{index + 1}}. {{question.name}}</h5>
                          <div class="row">
                            <div class="col-6" *ngFor="let Choice of question.choices">
                              <input id="{{Choice.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Choice.selected" /> {{Choice.name}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr />
                    <div *ngIf="mode!='result'">
                      <button class="btn btn-primary" (click)="onSubmit();">Submit Survey</button>
                    </div>
                  </div>
                </div>
              </div>
