<!-- Author: Tom Tsiliopoulos
     Project Part 2 Modified by: Team Musketeer
     Members: Zeyu Ma 300737060
              Syed Nasir Gohary 300937424
              Abubakir Myrzaly 300931945
              Sushmita Nandalan 300923159  -->
 <!-- Content for the Details Page -->
 <div id="about">
   <div id="divAbout">
      <h1 id="heading">Welcome to the {{ survey.surveyName }} Page</h1>
 <div class="container">
  <div class="row">
      <div class="col-md-offset-3 col-md-6">


          <form class="form" (submit)="onAboutPageSubmit()">


            <p id="questions">{{ survey.question1 }}</p>
            <div class="form-group">
                <label id="answers" for="Answer1TextField">Answer</label>
                <input type="text" class="form-control"
                id="Answer1TextField"
                placeholder="Type your answer"
                name="answer1"
                [(ngModel)]="answer.answer1"
                value="{{ answer.answer1 }}"
                required>
            </div>

            <p id="questions">{{ survey.question2 }}</p>
            <div class="form-group">
                <label id="answers" for="Answer2TextField">Answer</label>
                <input type="text" class="form-control"
                id="Answer2TextField"
                placeholder="Type your answer"
                name="answer2"
                [(ngModel)]="answer.answer2"
                value="{{ answer.answer2 }}"
                required>
            </div>

            <p id="questions">{{ survey.question3}}</p>
            <div class="form-group">
                <label id="answers" for="Answer3TextField">Answer</label>
                <input type="text" class="form-control"
                id="Answer3TextField"
                placeholder="Type your answer"
                name="answer3"
                [(ngModel)]="answer.answer3"
                value="{{ answer.answer3 }}"
                required >
            </div>

            <p id="questions">{{ survey.question4}}</p>
            <div class="form-group">
                <label id="answers" for="Answer4TextField">Answer</label>
                <input type="text" class="form-control"
                id="Answer4TextField"
                placeholder="Type your answer"
                name="answer4"
                [(ngModel)]="answer.answer4"
                value="{{ answer.answer4 }}"
                required>
            </div>

            <p id="questions">{{ survey.question5}}</p>
            <div class="form-group">
                <label id="answers" for="Answer5TextField">Answer</label>
                <input type="text" class="form-control"
                id="Answer5TextField"
                placeholder="Type your answer"
                name="answer5"
                [(ngModel)]="answer.answer5"
                value="{{ answer.answer5 }}"
                required>
            </div>
            <button id="btnSubmit" type="submit">
            <i class="fas fa-edit"></i> Submit Survey</button>
            <a routerLink="/home" id="btnCancel">
                <i class="fas fa-undo"></i> Cancel</a>
        </form>
        &nbsp;    &nbsp;
      </div>
  </div>

</div>
</div>
&nbsp;    &nbsp;
&nbsp;    &nbsp;
 </div>
