#about{
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 3em;
   /*set to a negative number 1/2 of your width*/
  border: 2.5px ridge rgb(119, 190, 228);;
  border-radius: 5px;
  background-color: #f3f3f3be;
}
#divAbout{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
}

#btnSubmit{
  padding: 10px 10px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(199, 193, 193);
  width: 180px;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  padding-bottom: 10px;

}
#btnCancel{
  padding: 10px 10px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(199, 193, 193);
  width: 150px;
  text-transform: uppercase;
  font-weight: bold;
  float: right;
  padding-bottom: 10px;
}

table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-collapse: collapse;
  width: 100%
}
table.blueTable th{
  font-size: 12px;
  align-self: auto;
}
table.blueTable td, table.blueTable th {
  border: 2px solid rgba(170, 170, 170, 0.87);
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 10px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

#heading{
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}

#questions{
  padding-top: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
#answers{
  padding-top: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

#btnSubmit{
  padding: 10px 10px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(199, 193, 193);
  width: 200px;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  padding-bottom: 10px;

}
#btnCancel{
  padding: 10px 10px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(199, 193, 193);
  width: 150px;
  text-transform: uppercase;
  font-weight: bold;
  float: right;
  padding-bottom: 10px;
}
table.table-fit {
  width: auto !important;
  table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
  width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
  width: auto !important;
}
