<!-- <div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to {{ title }}</h1>
  </div>
</div> -->
<!-- Author: Tom Tsiliopoulos
     Project Part 2 Modified by: Team Musketeer
     Members: Zeyu Ma 300737060
              Syed Nasir Gohary 300937424
              Abubakir Myrzaly 300931945
              Sushmita Nandalan 300923159  -->

<div class="container" style="padding-top: 80px">
  <div class="divMain">
    <h1 class="display-4">Welcome to {{ title }}</h1>
  </div>
</div>
