 <!-- Content for the Details Page -->
 <div class="container">
  <div class="row">
      <div class="col-md-offset-3 col-md-6">
          <h1>{{ title }}</h1>

          <form class="form" (submit)="onDetailsPageSubmit()">
              <div class="form-group">
                  <label for="SurveyNameTextField">Survey Name</label>
                  <input type="text" class="form-control"
                  id="SurveyNameTextField"
                  placeholder="Enter Survey Name"
                  name="surveyName"
                  [(ngModel)]="survey.name"
                  value="{{ survey.name}}"
                  required>
              </div>

              <div class="form-group">
                  <label for="DescriptionTextField">Description</label>
                  <input type="text" class="form-control"
                  id="DescriptionTextField"
                  placeholder="Enter Description"
                  name="description"
                  [(ngModel)]="survey.description"
                  value="{{ survey.description }}"
                  required>
              </div>

              <div class="form-group">
                  <label for="QuestionTextField">Questions</label>
                  <input type="text" class="form-control"
                  id="QuestionTextField1"
                  placeholder="Enter Question"
                  name="question1"
                  [(ngModel)]="question.name"
                  value="{{ question.name }}"
                  required>
              </div>

              <div class="form-group">
                <label for="ChoiceTextField">Choices</label>
                <input type="text" class="form-control"
                id="ChoiceTextField1"
                placeholder="Enter Choice"
                name="choice1"
                [(ngModel)]="choice.name"
                value="{{ choice.name }}"
                required>
            </div>
              <button type="submit" class="btn btn-primary">
              <i class="fas fa-edit"></i> {{ title }}</button>
              <a routerLink="/contact/contact-list" class="btn btn-warning">
                  <i class="fas fa-undo"></i> Cancel</a>
          </form>


      </div>
  </div>
</div>

