<!-- Author: Tom Tsiliopoulos
     Project Part 2 Modified by: Team Musketeer
     Members: Zeyu Ma 300737060
              Syed Nasir Gohary 300937424
              Abubakir Myrzaly 300931945
              Sushmita Nandalan 300923159  -->
<app-base-page></app-base-page>
<div class="container">
  <div class="divMain">
      <div class="row">
          <div class="col col-md-6">
            <div class="card">
              <h5 class="card-header alert-success">Secure</h5>
              <div class="card-body">
                <a routerLink="survey-list" class="btn btn-primary"><i class="fas fa-users fa-lg"></i> Survey List</a>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>

