<a class="btn btn-primary" routerLink="/mysurveys/surveys" role="button">
  <i class="fas fa-plus-circle"></i> Display Survey</a>
  <table class="table table-bordered table-striped table-hover">
    <!-- Header Row-->
    <tr>
        <th class="text-center">Patient Code</th>
        <th class="text-center">Temperature</th>
        <th class="text-center">Heart Rate</th>
        <th class="text-center">Blood Pressure</th>
        <th class="text-center">Respiratory Rate</th>
        <th class="text-center"></th>
    </tr>

    <!-- Repeatable Template Row -->
        <tr>

        </tr>
</table>
