<app-base-page></app-base-page>
<div class="container">
  <div class="divMain">
    <!-- Home page, later to be migrated to partials -->
    <h5 style="text-align: center">
      Here in this page, you will be able to find some active surveys for you to
      complete.
    </h5>
    <p style="text-align: center">
      <img
        src="/assets/EnhancementPics/DecHr.png"
        alt="A decorative horizontal line"
      />
    </p>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="profileCard">
            <img
              src="/assets/SamplePics/SampleSurveys/CFIA.png"
              alt=""
              class="profilePic"
            />
            <p class="myTitle">Food Safety</p>
            <p>Sponsored by Canadian Food Inspection Agency</p>
          </div>
          <a class="btn btn-outline-secondary" href="/about" role="button"
            >Begin Survey</a
          >
        </div>
        <div class="col-sm">
          <div class="profileCard">
            <img
              src="/assets/SamplePics/SampleSurveys/unfccc.png"
              alt=""
              class="profilePic"
            />
            <p class="myTitle">Climate Change</p>
            <p>
              Sponsored by United Nations Framework Convention on Climate Change
            </p>
          </div>
          <a class="btn btn-outline-secondary" href="/about" role="button"
            >Begin Survey</a
          >
        </div>
        <div class="col-sm">
          <div class="profileCard">
            <img
              src="/assets/SamplePics/SampleSurveys/esrb.png"
              alt=""
              class="profilePic"
            />
            <p class="myTitle">Video Games</p>
            <p>Sponsored by ESRB</p>
          </div>
          <a class="btn btn-outline-secondary" href="/about" role="button"
            >Begin Survey</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
