<!-- Author: Tom Tsiliopoulos
     Project Part 2 Modified by: Team Musketeer
     Members: Zeyu Ma 300737060
              Syed Nasir Gohary 300937424
              Abubakir Myrzaly 300931945
              Sushmita Nandalan 300923159  -->
<app-base-page></app-base-page>
<div class="container">
  <div class="divMain">
    <!-- Home page, later to be migrated to partials -->
    <h5 style="text-align: center">
      Here in this page, you will be able to find some active surveys for you to
      complete.
    </h5>
    <p style="text-align: center">
      <img
        src="/assets/EnhancementPics/DecHr.png"
        alt="A decorative horizontal line"
      />
    </p>
    </div>
</div>
