<!-- Author: Tom Tsiliopoulos
     Project Part 2 Modified by: Team Musketeer
     Members: Zeyu Ma 300737060
     Syed Nasir Gohary 300937424
    Abubakir Myrzaly 300931945
    Sushmita Nandalan 300923159  -->
<div id="surveyList">


  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h1>Survey Questions</h1>
        <a class="btn btn-primary" routerLink="/mysurveys/survey-list/add" role="button">
          <i class="fas fa-plus-circle"></i> Add a Survey</a>
        <br>

        <table class="table table-responsive">
          <!-- Header Row-->
          <tr>

            <th scope="col">Survey Name</th>
            <th scope="col">Question 1</th>
            <th scope="col">Question 2</th>
            <th scope="col">Question 3</th>
            <th scope="col">Question 4</th>
            <th scope="col">Question 5</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col"></th>
          </tr>

          <!-- Repeatable Template Row -->
          <tr *ngFor="let survey of surveys">
            <td>{{ survey.surveyName }}</td>
            <td>{{ survey.question1 }}</td>
            <td>{{ survey.question2 }}</td>
            <td>{{ survey.question3 }}</td>
            <td>{{ survey.question4 }}</td>
            <td>{{ survey.question5 }}</td>
            <td>{{ survey.start }}</td>
            <td>{{ survey.end }}</td>
            <td>
              <a routerLink="/about/{{ survey._id }}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Take a
                survey</a>
            </td>
          </tr>

        </table>

        &nbsp;&nbsp;
      </div>
    </div>
  </div>
</div>
